<mat-toolbar>
    <div class="toolbar-left">
        <a routerLink="/" class="app-header-name">{{ appName }}</a>
    </div>
    <div class="toolbar-center"></div>
    <div class="toolbar-right">
        <ul class="app-navigation">
            <li [ngClass]="{'active': isActive('/') }">
                <a routerLink="/">{{ 'header.home' | translate }}</a>
            </li>
            <li [ngClass]="{'active': isActive('blog') }">
                <a routerLink="/blog">{{ 'header.blog' | translate }}</a>
            </li>
            <li [ngClass]="{'active': isActive('let-me-taste-it') }">
                <a routerLink="/let-me-taste-it">{{ 'header.letMe' | translate }} {{ '&#128526;' }}</a>
            </li>
        </ul>
        <div class="app-opts">
            <mat-icon [fontIcon]="getTheme()" [ngClass]="getThemeColor()" class="theme" (click)="updateTheme()"></mat-icon>
            <div class="row align-center gap-5">
                <span [matMenuTriggerFor]="menu" 
                    class="flag-icon flag-icon-squared local-img-header flag-icon-{{ appLocale.code }}">
                </span>
                <span class="local-txt-header">{{ appLocale.country | uppercase }}</span>
                <mat-menu #menu="matMenu" class="locales-menu">
                    <span mat-menu-item *ngFor="let locale of getLocales()" (click)="updateCurrentLocale(locale)">
                        {{ locale.name | translate | titlecase }}
                    </span>
                </mat-menu>
            </div>
        </div>
    </div>
</mat-toolbar>