
mat-toolbar {
    display: flex;
    .toolbar-left, .toolbar-right, .toolbar-center {
        display: flex;
        width: calc(100% / 3);
        align-items: center;
        gap: 5px;
    }
    .toolbar-right {
        justify-content: space-between;
        .app-opts {
            display: flex;
            gap: 5px;
            width: fit-content;
            align-items: center;
        }
        .local-img-header {
            border-radius: 50%;
            cursor: pointer;
            &:hover {
                border: 1px solid var(--main-fg-color);
            }
        }
        .local-txt-header {
            font-size: 0.6em;
        }

        ul.app-navigation {
            display: flex;
            flex-direction: row;
            width: fit-content;
            list-style: none;
            gap: 15px;
            align-self: left;
            margin: 0;
            padding: 0;
        }

        ul.app-navigation li {
            font-size: 0.8em;
            width: fit-content;
            text-align: center;
            user-select: none;
            margin: 0;
            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }
            &.active {
                text-decoration: underline;
            }
            a {
                color: var(--main-fg-color)
            }
        }
    }
    .toolbar-center {
        justify-content: center;
    }
    .toolbar-left {
        justify-content: left;
        gap: 5px;
    }
    .app-header-name {
        color: var(--main-fg-color);
        text-decoration: none;
        font-size: 0.9em;
    }
}