

:host {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    font-size: 11px;
    padding: 10px 0 10px 0;
    nav {
        display: flex;
        gap: 10px;
        a {
            color: inherit;
            text-decoration: none;
        }
    }
}