
html, body { height: 100%; }
body {
    color: var(--main-fg-color);
    background-color: var(--main-bg-color);
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
}

p {
    margin: 0;
}

a,
a:visited,
a:hover {
    color: #1976d2;
    text-decoration: none;
}
a:hover {
    color: #125699;
}
