@import "../../styles/variables";


@media only screen and (max-width: 1000px) {
    :host {
        align-items: center;
        flex-direction: column;
        gap: 10px;
    }
    .center-block {
        width: 100%;
        min-height: fit-content !important;
        text-align: center;
    }
    .right-block {
        max-width: 350px;
    }
}

:host {
    display: flex;
}

.center-block {
    width: 100%;
    min-height: 85vh;
    text-align: center;
}
.right-block {
    max-width: 350px;
}